# This is a basic workflow to help you get started with Actions

name: Unit_Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    strategy:
      matrix:
        version: [R2025a, R2024b]
        os: [ubuntu-latest, windows-latest, macos-14]
        include:
          - os: windows-latest
            version: R2023b
          - os: windows-latest
            version: R2022b
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x

      - name: Set up products
        uses: matlab-actions/setup-matlab@v2
        with:
          release: ${{ matrix.version }}
        
      - name: Run tests
        uses: matlab-actions/run-tests@v2
        with:
          test-results-junit: results.xml
          use-parallel: false

